{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
    <h1>&emsp; About Us</h1>

    <p><h3>&emsp;Robo Depot was formed in 2022 by its three founders, Blake Kinnaman, Salim Al Maqbali, and Aaron Strong. Though our team is small,<br>
        &emsp;the three of us are dedicated to bringing our users an exceptional variety of top-of-the-line robot products. Robo Depo is on a <br>
        &emsp;mission to provide customers with friendly, task-oriented robots that are designed to make their owner's life a little easier. <br>
        &emsp;Whether you need assistance cleaning around the house, a tutor for a specific subject, or a small pet companion, Robo Depot is <br>
        &emsp;happy to supply customers a multitude of possibilities.</p>
    <br>
    <br>
    <p>&emsp;Robo Depo's base of operations is located in Omaha, NE, which is coincidentally where the three of us met. After attending the <br>
        &emsp;University of Nebraska at Omaha together, we all decided to go in on a business venture, and after some initial failed business ideas,<br>
        &emsp;we found that we all shared a passion for the robotic arts. After securing some blueprints and patents for our various products, <br>
        &emsp;found that the best way to operate would be through an online storefront, as it provides us with a wide audience across the internet <br>
        &emsp;along with giving us the freedom to work anywhere at any time. Despite being a primarily online based business, we have future plans to <br>
        &emsp;open multiple storefronts across the country, and maybe come to a town near you!</h3></p>
    <br>
    <br>
    <p><h2>&emsp;Blake is the team's CEO.</p>
   <img src="shop/Blake.png">
    <br>
    <p>&emsp;Salim is the team's CTO.</p>
    <img src="shop/Salim.png">
    <br>
    <p>&emsp;Aaron is the team's COO.</h2></p>
    <img src="shop/Aaron.png">

</body>
</html>