{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <link href="{% static "css/base.css" %}" rel="stylesheet">

</head>
<body>

    <h1> &emsp; Frequently Asked Questions</h1>

    <p> &emsp; &emsp; &emsp; <b>Q: How long is the typical wait time for a delivery?</b></p>
    <p> &emsp; &emsp; &emsp; A: It varies by product, but a typical shipment will take 3 to 5 business days. <br> &emsp;&emsp;&emsp;&emsp;&emsp;The shipping dates also vary depending on where federal holidays land within an order timeframe.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: What measures are put in place to prevent my robot from being stolen?</b></p>
    <p> &emsp; &emsp; &emsp; A: To activate a robot, we require users to input a confirmation ID code that we send them once their delivery has arrived.  <br> &emsp;&emsp;&emsp;&emsp;&emsp;This ID code expires within 24 hours, but a new code is sent out if the user emails us to send another.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: What is Robo Depo's return policy?</b></p>
    <p> &emsp; &emsp; &emsp; A: For our return policy, we will allow returns for robots that have been purchased and activated within a one-month time frame, <br> &emsp;&emsp;&emsp;&emsp;&emsp;and if the robot is in an acceptable functioning condition.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: What can I do if I never receive my order?</b></p>
    <p> &emsp; &emsp; &emsp; A: In this circumstance, users will need to contact us directly so we can confirm that their robot is missing. <br> &emsp;&emsp;&emsp;&emsp;&emsp;Once we confirm the issue, we will activate a built-in tracking system to find the robot and send it back to its owner.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: What can I do if my robot arrives damaged?</b></p>
    <p> &emsp; &emsp; &emsp; A: In this circumstance, users will need to contact us directly so we can send out a damages form. <br> &emsp;&emsp;&emsp;&emsp;&emsp;The form will ask for the robot's identification information and will also ask for pictures of the damages.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: Is there a warranty for the robots.</b></p>
    <p> &emsp; &emsp; &emsp; A: Yes, we offer an optional 2-year warranty for all our robot products. <br> &emsp;&emsp;&emsp;&emsp;&emsp;The warranty covers any malfunctions, electrical failures, mechanical failures, and manufacturing defects that cause the robot to not fulfil its intended functions.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: Can I make changes to an order I already placed.</b></p>
    <p> &emsp; &emsp; &emsp; A: Users can make changes to an order up to 48 hours after it was placed. <br> &emsp;&emsp;&emsp;&emsp;&emsp;Depending on when new additions are made, users may need to wait an additional business day for their order to arrive.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: What happens if the Robo Depo website crashes/shuts down while I am in the middle of an order?</b></p>
    <p> &emsp; &emsp; &emsp; A: We will let users know in advance the time frame of scheduled website maintenance <br> &emsp;&emsp;&emsp;&emsp;&emsp;and will have a pop-up that warn activate users to quickly finish their order before the website closes.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: Will there be any customization options for the robots you have?</b></p>
    <p> &emsp; &emsp; &emsp; A: We plan to add multiple customization options to all our robots soon. <br> &emsp;&emsp;&emsp;&emsp;&emsp;These features would include changing the color of the robot, as well as adding attachments to some of our higher end robots. </p>
</body>
</html>